{% extends 'layout.html' %}

{% block title %} | 404{% end %}

{% block menu %}
    <a href="{{ handler.settings['blog_url'] }}">
        <i class="fa fa-home"> Home</i></a>
    <a href="/articles">
        <i class="fa fa-archive"> Articles</i></a>
    <a href="/tags">
        <i class="fa fa-star"> Tags</i></a>
    {% for page in handler.get_custom_page() %}
    <a href="/page/custom/{{ page.id }}">{{ page.title }}</a>
    {% end %}
    <a href="/feed"><i class="fa fa-rss"> Feed</i></a>
{% end %}

{% block content %}
<div class="post">
    <h1 class="post-title">404</h1>
    <div class="post-content">
        <h3 id="Oops, Page Not Found."><a href="#Oops, Page Not Found." class="headerlink" title="Oops, Page Not Found.">
        </a>Oops, Page Not Found.</h3>
    </div>
</div>
{% end %}