{% extends 'layout.html' %}

{% block title %} | Articles{% end %}

{% block menu %}
<a href="{{ handler.settings['blog_url'] }}">
    <i class="fa fa-home"> Home</i></a>
<a class="current" href="/articles">
    <i class="fa fa-archive"> Articles</i></a>
<a href="/tags">
    <i class="fa fa-star"> Tags</i></a>
{% for page in handler.get_custom_page() %}
<a href="/page/custom/{{ page.id }}">
    <i class="fa fa-external-link"> {{ page.title }}</i></a>
{% end %}
{% end %}

{% block content %}
<div class="post">
    <div class="post-archive">
        {% for year in sorted(articlesList.keys(), reverse = True) %}
            <h2>{{ year }}</h2>
            <ul class="listing">
                {% for i in range(len(articlesList[year])) %}
                <li>
                    <span class="date">{{ articlesList[year][i].datetime[:10] }}</span>
                    <a href="/article/{{ articlesList[year][i].id }}" title="{{ articlesList[year][i].title }}">{{ articlesList[year][i].title }}</a>
                </li>
                {% end %}
            </ul>
        {% end %}
    </div>
</div>
{% end %}