{% extends 'layout.html' %}

{% block menu %}
    <a class="current" href="{{ handler.settings['blog_url'] }}">
        <i class="fa fa-home"> Home</i></a>
    <a href="/articles">
        <i class="fa fa-archive"> Articles</i></a>
    <a href="/tags">
        <i class="fa fa-star"> Tags</i></a>
    {% for page in handler.get_custom_page() %}
    <a href="/page/custom/{{ page.id }}">{{ page.title }}</a>
    {% end %}
    <a href="/feed"><i class="fa fa-rss"> Feed</i></a>
{% end %}

{% block sidebar %}
<div class="widget">
    <div class="widget-title">
        <i class="fa fa-star-o"> Recent Tags</i>
    </div>
    <div class="tagcloud">
        {% for article in all_articles[:5] %}
            {% for tag in [tag.strip() for tag in article.tag.split(",")] %}
            <a href="/tag/{{ handler.urlencode(tag) }}">{{ tag }}</a>
            {% end %}
        {% end %}
    </div>
</div>
<div class="widget">
    <div class="widget-title">
        <i class="fa fa-file-o"> Recent Articles</i></div>
    <ul class="post-list">
        {% for article in all_articles[:10] %}
        <li class="post-list-item">
            <a class="post-list-link" href="/article/{{ article.id }}">{{ article.title }}</a>
        </li>
        {% end %}
    </ul>
</div>
{% end %}

{% block content %}
    {% for article in articlesList %}
    <div class="post">
        <h1 class="post-title">
            <a href="/article/{{ article.id }}">{{ article.title }}</a></h1>
        <div class="post-meta">{{ article.datetime[:10] }}</div>
        <div class="post-content">{{ handler.description(handler.md_to_html(article.content)) }}</div>
        <p class="readmore">
            <a href="/article/{{ article.id }}">Read More</a>
        </p>
    </div>
    {% end %}
    {% if count > post_per_page %}
    <nav class="page-navigator">
        {% if page_number-1 > 0 %}
            <a class="extend prev" rel="prev" href="/page/{{ page_number-1 }}">Prev</a>
        {% else %}
            <a class="extend prev" rel="prev" style="visibility:hidden">Prev</a>
        {% end %}

        {% if max_page >= 8 %}
            {% if page_number < 4 %}
                {% for i in range(1, 5) %}
                    {% if i == page_number %}
                        <span class="page-number current">{{ page_number }}</span>
                    {% else %}
                        <a class="page-number" href="/page/{{ i }}">{{ i }}</a>
                    {% end %}
                {% end %}
                <span class="space">…</span>
                <a class="page-number" href="/page/{{ max_page }}">{{ max_page }}</a>
            {% end %}

            {% if page_number > 3 and page_number < max_page-2 %}
                <a class="page-number" href="/">1</a>
                <span class="space">…</span>
                <a class="page-number" href="/page/{{ page_number-1 }}">{{ page_number-1 }}</a>
                <span class="page-number current">{{ page_number }}</span>
                <a class="page-number" href="/page/{{ page_number+1 }}">{{ page_number+1 }}</a>
                <span class="space">…</span>
                <a class="page-number" href="/page/{{ max_page }}">{{ max_page }}</a>
            {% end %}

            {% if page_number > max_page-3 %}
                <a class="page-number" href="/">1</a>
                <span class="space">…</span>
                {% for i in range(max_page-3, max_page+1) %}
                    {% if i == page_number %}
                        <span class="page-number current">{{ page_number }}</span>
                    {% else %}
                        <a class="page-number" href="/page/{{ i }}">{{ i }}</a>
                    {% end %}
                {% end %}
            {% end %}
        {% else %}
            {% for i in range(1, max_page+1) %}
                {% if i < page_number %}
                    <a class="page-number" href="/page/{{ i }}">{{ i }}</a>
                {% end %}
                {% if i == page_number %}
                    <span class="page-number current">{{ page_number }}</span>
                {% end %}
                {% if i > page_number %}
                    <a class="page-number" href="/page/{{ i }}">{{ i }}</a>
                {% end %}
            {% end %}
        {% end %}

        {% if post_per_page*page_number < count %}
            <a class="extend next" rel="next" href="/page/{{ page_number+1 }}">Next</a>
        {% else %}
            <a class="extend next" rel="next" style="visibility:hidden">Next</a>
        {% end %}
    </nav>
    {% end %}
{% end %}
