{% extends 'admin-layout.html' %}

{% block title %} | Login{% end %}

{% block menu %}
    <a href="{{ handler.settings['blog_url'] }}">
        <i class="fa fa-home"> Home</i></a>
    <a href="/articles">
        <i class="fa fa-archive"> Articles</i></a>
    <a href="/tags">
        <i class="fa fa-star"> Tags</i></a>
    {% for page in handler.get_custom_page() %}
    <a href="/page/custom/{{ page.id }}">{{ page.title }}</a>
    {% end %}
    <a href="/feed"><i class="fa fa-rss"> Feed</i></a>
{% end %}

{% block panel %}
<div class="post">
    <h1 class="post-title" style="text-align:center">Please login first</h1>
    <hr>
    <div id="article" class="post-content">
        <form class="login-form" action="" method="post" id="login">
            <div>
            <input id="username" name="username" type="text" placeholder="Username"></div>
            <div>
            <input id="password" name="password" type="password" placeholder="Password"></div>
            <div>
                <button class="login" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
{% end %}