{% extends 'layout.html' %}

{% block title %} | {{ article.title }}{% end %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js" integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/auto-render.min.js" integrity="sha384-kmZOZB5ObwgQnS/DuDg6TScgOiWWBiVt0plIRkZCmE6rDZGrEOQeHM5PcHi+nyqe" crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.getElementById("article"), {
                delimiters: [
                    {left: "$$", right: "$$", display: true},
                    {left: "$", right: "$", display: false}
                ]
            });
        });
    </script>
{% end %}

{% block menu %}
    <a href="{{ handler.settings['blog_url'] }}">
        <i class="fa fa-home"> Home</i></a>
    <a href="/articles">
        <i class="fa fa-archive"> Articles</i></a>
    <a href="/tags">
        <i class="fa fa-star"> Tags</i></a>
    {% for page in handler.get_custom_page() %}
        {% if page.title == article.title %}
        <a class="current" href="/page/custom/{{ page.id }}">{{ page.title }}</a>
        {% else %}
        <a href="/page/custom/{{ page.id }}">{{ page.title }}</a>
        {% end %}
    {% end %}
    <a href="/feed"><i class="fa fa-rss"> Feed</i></a>
{% end %}

{% block sidebar %}
<div class="widget">
    <div class="widget-title">
        <i class="fa fa-star-o"> Recent Tags</i>
    </div>
    <div class="tagcloud">
        {% for post in all_articles[:5] %}
            {% for tag in [tag.strip() for tag in post.tag.split(",")] %}
            <a href="/tag/{{ handler.urlencode(tag) }}">{{ tag }}</a>
            {% end %}
        {% end %}
    </div>
</div>
<div class="widget">
    <div class="widget-title">
        <i class="fa fa-file-o"> Recent Articles</i></div>
    <ul class="post-list">
        {% for post in all_articles[:10] %}
        <li class="post-list-item">
            <a class="post-list-link" href="/article/{{ post.id }}">{{ post.title }}</a>
        </li>
        {% end %}
    </ul>
</div>
{% end %}

{% block content %}
<div class="post">
    <div id="article" class="post-archive">
        {{ handler.md_to_html(article.content) }}
    </div>
</div>
{% end %}