{% extends 'layout.html' %}

{% block title %} | Tags{% end %}

{% block menu %}
    <a href="{{ handler.settings['blog_url'] }}">
        <i class="fa fa-home"> Home</i></a>
    <a href="/articles">
        <i class="fa fa-archive"> Articles</i></a>
    <a class="current" href="/tags">
        <i class="fa fa-star"> Tags</i></a>
    {% for page in handler.get_custom_page() %}
    <a href="/page/custom/{{ page.id }}">
        <i class="fa fa-external-link"> {{ page.title }}</i></a>
    {% end %}
    <a href="/feed"><i class="fa fa-rss"> Feed</i></a>
{% end %}

{% block sidebar %}
<div class="widget">
    <div class="widget-title">
        <i class="fa fa-star-o"> Recent Tags</i>
    </div>
    <div class="tagcloud">
        {% for article in all_articles[:5] %}
            {% for tag in [tag.strip() for tag in article.tag.split(",")] %}
            <a href="/tag/{{ handler.urlencode(tag) }}">{{ tag }}</a>
            {% end %}
        {% end %}
    </div>
</div>
<div class="widget">
    <div class="widget-title">
        <i class="fa fa-file-o"> Recent Articles</i></div>
    <ul class="post-list">
        {% for article in all_articles[:10] %}
        <li class="post-list-item">
            <a class="post-list-link" href="/article/{{ article.id }}">{{ article.title }}</a>
        </li>
        {% end %}
    </ul>
</div>
{% end %}

{% block content %}
<div class="post">
    <div class="post-archive">
            <div class="tags">
                {% for tag in tags %}
                    <a href="/tag/{{ handler.urlencode(tag.name) }}">{{ tag.name }} </a>
                {% end %}
            </div>
    </div>
</div>
{% end %}